In [6]:
from math import isnan
import pandas as pd
from discounts import calculate_discount, apply_discount

input_file = 'rhythm_tech_output.csv'
output_file = 'rhythm_tech_output_discounted.csv'

In [7]:
df = pd.read_csv(input_file)
df.head()

,Product Name,Product Vendor,Product Model,Product List Price,Product MAP Price,Product Cost,Product Description,Product Image URL
0,Archtop A-style Mandolin Case Pear Shaped With...,Boblen,MC2,164.00,NaN,88.56,"Made in Canada, Sturdy and Solid. Boblen MC221...",https://s3.amazonaws.com/b2b-coastmusic/items/...
1,Fiberglass Maracas - Large - Black,Rhythm Tech,TCFML,26.75,NaN,10.70,Our Fiber Maracas come in two sizes and they e...,https://s3.amazonaws.com/b2b-coastmusic/items/...

In [8]:
for index, row in df.iterrows():
    if isnan(row['Product List Price']) == False:
        df.loc[index, ['Price']] = apply_discount(float(row['Product List Price']), calculate_discount(float(row['Product List Price']), float(row['Product Cost'])))
    else:
        df.loc[index, ['Price']] = row['Product MAP Price']

df['Price']

0    139.99
1     19.99
Name: Price, dtype: float64

In [9]:
df.to_csv(output_file, index=False)