In [10]:
import pandas as pd
import numpy as np
import re

In [11]:
stocky_file = 'coast_po_1808.csv'
coast_file = 'coast_cart2.csv'
output_file = 'new_coast_cart_1808.csv'

In [12]:
stocky_po = pd.read_csv(stocky_file)
coast_cart = pd.read_csv(coast_file)

In [13]:
new_coast_cart = pd.DataFrame(columns=coast_cart.columns)

In [14]:
coast_cart

,Item Id,Qty Ordered,Item Title,Unit Price,Extended Price,Shippable Qty,Shippable Ext Price
0,44R-60,1,0.60mm Nylon Guitar Pick (72/bag),27.38,27.38,1,27.38

In [15]:
new_coast_cart['Item Id'] = stocky_po['SKU']
new_coast_cart['Qty Ordered'] = stocky_po['Qty Ordered']
new_coast_cart['Unit Price'] = stocky_po['Cost (base)']
new_coast_cart['Extended Price'] = stocky_po['Total Cost (base)']

In [16]:
new_coast_cart.to_csv(output_file, index=False)

In [17]:
new_coast_cart

,Item Id,Qty Ordered,Item Title,Unit Price,Extended Price,Shippable Qty,Shippable Ext Price
0,11000,2,NaN,16.96,33.92,NaN,NaN
1,16052,2,NaN,19.10,38.20,NaN,NaN
2,GSP38WB+,2,NaN,17.75,35.50,NaN,NaN
3,CGS-10,4,NaN,9.60,38.40,NaN,NaN
4,CGS-20,1,NaN,12.90,12.90,NaN,NaN
5,MP-WM-TRI,1,NaN,13.38,13.38,NaN,NaN
6,PT-1600,3,NaN,4.99,14.97,NaN,NaN
7,TCFMM,2,NaN,8.38,16.76,NaN,NaN